<div class="container">
  <app-sidebar class="sidebar" (filterPosts)="onFilterBlogPosts($event)" [show]="true"></app-sidebar>
  <div class="blogposts" #blogContainer>
    @if(!blogPostsExists){
      <p class="error">Sorry no blog posts matched your searched word!</p>
      <p class="error" [ngStyle]="{'text-decoration': 'underline', 'cursor': 'pointer', 'color': 'blue'}" (click)="onReturn()">Click to return to blog posts</p>
    }@else {
      @for(blogPost of blogPosts; track blogPost.id;){
        <app-blog-post [blogPost]="blogPost"></app-blog-post>
        }
    }
  </div>
  <div class="inputfield">
    <h2>Tell your story</h2>
    <app-blog-form></app-blog-form>
  </div>
</div>
