.chat-wrapper {
    /* width: 80vw; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    overflow: auto;
    border: 4px inset rgb(189, 186, 186);
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
}

::-webkit-scrollbar-track {
    background-color: rgb(250, 250, 250);
}

h2 {
    text-align: center;
}

.message{
    margin: 10px;
    padding: 10px;
    min-height: 70px;
    min-width: 300px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(249, 253, 251);
    border-radius: 10px;
    list-style: none;
    box-shadow: 1px 2px 4px rgb(206, 201, 201);
}

.right {
    align-self: self-end;
    background-color: rgb(238, 227, 255);
}

.left {
    align-self: self-start;
    background-color: rgb(222, 229, 255);
}

.message img {
    width: 20px;
    height: 20px;
}

.user-info {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bolder;
}

.message p {
    margin: 0;
    font-size: 1em;
}

.message span {
    font-size: 0.9em;
}