form {
    padding: 10px;
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.input-wrapper {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    margin-right: 5px;
}

.contact-wrapper {
    display: flex;
    gap: 50px;
}

button {
    margin-top: 20px;
}