<form [formGroup]="blogpostForm" (ngSubmit)="onSubmit()">
  <div class="input-wrapper">
    <label for="title">Title:</label>
    <input type="text" id="title" placeholder="Blog post title" formControlName="title" />
  </div>
  <div class="input-wrapper">
    <label for="content">Content:</label>
    <textarea name="content" id="content" placeholder="Your content" rows="7" formControlName="content"></textarea>
  </div>
  <div class="contact-wrapper">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="Your name" formControlName="name" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" placeholder="Email" formControlName="email" />
    </div>
  </div>
  <button [disabled]="blogpostForm.invalid">Send blogpost</button>
</form>
